In [58]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\yadav\anaconda3\lib\site-packages (4.4.3)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\yadav\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\yadav\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio~=0.17 in c:\users\yadav\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\yadav\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: sniffio in c:\users\yadav\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\yadav\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\yadav\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: idna in c:\users\yadav\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: async-generator>=1.9 in c:\users\yadav\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\yadav\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sortedcontainers in c:\users\yadav\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: pycparser in c:\users\yadav\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\yadav\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\yadav\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\yadav\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

# (Q1)

Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.

This task will be done in following steps - 

1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field
3. Then click the search button
4. Then scrape the data for the first 10 jobs results you get
5. Finally create a dataframe of the scraped data

In [5]:
# importing all the necessary libraries
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import warnings
warnings.filterwarnings("ignore")

In [68]:
# connecting with the driver
driver = webdriver.Chrome("chromedriver.exe")

# pulling the website
driver.get('https://www.naukri.com')

In [69]:
# entering the designation
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [70]:
# entering the location
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [71]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [73]:
job_title = []
job_location =[]
company_name = []
experience_required =[]

In [76]:
# scraping the title
title_tags= driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
job_title

['Senior Data Analyst',
 'Data Analyst',
 'Hiring For Data Analyst (DA)/ Team Lead (TL) -Clinical Data management',
 'Call For Clinical Data Analyst - Hyd/Bangalore/Pune/Mumbai/Kolkata',
 'Payroll Transformation Data Analyst',
 'Payroll Transformation Data Analyst',
 'Master Data Management Business Analyst',
 'Data Analytics and Interpretation Business Analyst',
 'HR Data Analyst',
 'Data Analyst',
 'Senior Data Analyst',
 'Data Analyst',
 'Hiring For Data Analyst (DA)/ Team Lead (TL) -Clinical Data management',
 'Call For Clinical Data Analyst - Hyd/Bangalore/Pune/Mumbai/Kolkata',
 'Payroll Transformation Data Analyst',
 'Payroll Transformation Data Analyst',
 'Master Data Management Business Analyst',
 'Data Analytics and Interpretation Business Analyst',
 'HR Data Analyst',
 'Data Analyst']

In [77]:
# scraping the location
location_tags= driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
job_location

['Bangalore/Bengaluru, Chennai',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Kolkata, Hyderabad/Secunderabad, Pune, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Kolkata, Hyderabad/Secunderabad, Pune, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Chennai',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Kolkata, Hyderabad/Secunderabad, Pune, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Kolkata, Hyderabad/Secunderabad, Pune, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [78]:
# scraping the company name
company_tags= driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
company_name

['Latentview',
 'Jar',
 'Cognizant',
 'Cognizant',
 'Arrow Electronics',
 'Arrow Electronics',
 'Accenture',
 'Accenture',
 'Hitachi Ltd.',
 'ANZ',
 'Latentview',
 'Jar',
 'Cognizant',
 'Cognizant',
 'Arrow Electronics',
 'Arrow Electronics',
 'Accenture',
 'Accenture',
 'Hitachi Ltd.',
 'ANZ']

In [79]:
# scraping experience
experience_tags= driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)
experience_required

['3-6 Yrs',
 '0-4 Yrs',
 '3-8 Yrs',
 '6-9 Yrs',
 '3-7 Yrs',
 '5-10 Yrs',
 '6-8 Yrs',
 '6-8 Yrs',
 '3-6 Yrs',
 '7-12 Yrs',
 '3-6 Yrs',
 '0-4 Yrs',
 '3-8 Yrs',
 '6-9 Yrs',
 '3-7 Yrs',
 '5-10 Yrs',
 '6-8 Yrs',
 '6-8 Yrs',
 '3-6 Yrs',
 '7-12 Yrs']

In [80]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

20 20 20 20

In [81]:
df = pd.DataFrame({'job_title':job_title,'job_location':job_location,'company_name':company_name,'experience_required':experience_required})
df

,job_title,job_location,company_name,experience_required
0,Senior Data Analyst,"Bangalore/Bengaluru, Chennai",Latentview,3-6 Yrs
1,Data Analyst,Bangalore/Bengaluru,Jar,0-4 Yrs
2,Hiring For Data Analyst (DA)/ Team Lead (TL) -...,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Cognizant,3-8 Yrs
3,Call For Clinical Data Analyst - Hyd/Bangalore...,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Cognizant,6-9 Yrs
4,Payroll Transformation Data Analyst,Bangalore/Bengaluru,Arrow Electronics,3-7 Yrs
5,Payroll Transformation Data Analyst,Bangalore/Bengaluru,Arrow Electronics,5-10 Yrs
6,Master Data Management Business Analyst,Bangalore/Bengaluru,Accenture,6-8 Yrs
7,Data Analytics and Interpretation Business Ana...,Bangalore/Bengaluru,Accenture,6-8 Yrs
8,HR Data Analyst,Bangalore/Bengaluru,Hitachi Ltd.,3-6 Yrs
9,Data Analyst,Bangalore/Bengaluru,ANZ,7-12 Yrs
10,Senior Data Analyst,"Bangalore/Bengaluru, Chennai",Latentview,3-6 Yrs
11,Data Analyst,Bangalore/Bengaluru,Jar,0-4 Yrs
12,Hiring For Data Analyst (DA)/ Team Lead (TL) -...,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Cognizant,3-8 Yrs
13,Call For Clinical Data Analyst - Hyd/Bangalore...,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Cognizant,6-9 Yrs
14,Payroll Transformation Data Analyst,Bangalore/Bengaluru,Arrow Electronics,3-7 Yrs
15,Payroll Transformation Data Analyst,Bangalore/Bengaluru,Arrow Electronics,5-10 Yrs
16,Master Data Management Business Analyst,Bangalore/Bengaluru,Accenture,6-8 Yrs
17,Data Analytics and Interpretation Business Ana...,Bangalore/Bengaluru,Accenture,6-8 Yrs
18,HR Data Analyst,Bangalore/Bengaluru,Hitachi Ltd.,3-6 Yrs
19,Data Analyst,Bangalore/Bengaluru,ANZ,7-12 Yrs

# (Q2)

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

This task will be done in following steps - 
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field
3. Then click the search button
4. Then scrape the data for the first 10 jobs results you get
5. Finally create a dataframe of the scraped data

In [85]:
# pulling the website
driver.get("https://www.naukri.com/")

In [86]:
# entering the designation
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [87]:
# entering the location
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [88]:
search = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[6]")
search.click()

In [89]:
job_title = []
job_location =[]
company_name = []

In [90]:
# scraping the title
title_tags= driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
job_title

['Data Science Specialist',
 'Data Science Manager',
 'Mongodb Database Administrator, Maria DB or Cassandra',
 'Analystics & Modeling Specialist',
 'Assistant Manager - Data Science',
 'Data Scientist',
 'Senior Data Scientist',
 'Industry X - Software Engineering',
 'Module Lead - BIDW',
 'Data Scientist: Artificial Intelligence']

In [91]:
# scraping the location
location_tags= driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
job_location

['Bangalore/Bengaluru, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai',
 'Bangalore/Bengaluru, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai',
 'Bangalore/Bengaluru, Hyderabad/Secunderabad, Pune, Chennai, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, delhi ncr',
 'Bangalore/Bengaluru, Mumbai, Pune',
 'Bangalore/Bengaluru, Hyderabad/Secunderabad, Pune, Chennai',
 'Bangalore/Bengaluru, Mumbai, New Delhi, Chennai',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [92]:
# scraping the company name
company_tags= driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
company_name

['Accenture',
 'Accenture',
 'Mphasis',
 'Accenture',
 'CitiusTech',
 'Tech Mahindra',
 'Boston Consulting Group',
 'Accenture',
 'Mphasis',
 'IBM']

In [93]:
print(len(job_title),len(job_location),len(company_name))

10 10 10

In [94]:
df = pd.DataFrame({'job_title':job_title,'job_location':job_location,'company_name':company_name})
df

,job_title,job_location,company_name
0,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
1,Data Science Manager,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
2,"Mongodb Database Administrator, Maria DB or Ca...","Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Mphasis
3,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
4,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech
5,Data Scientist,"Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Tech Mahindra
6,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai, New Delhi, Chennai",Boston Consulting Group
7,Industry X - Software Engineering,Bangalore/Bengaluru,Accenture
8,Module Lead - BIDW,Bangalore/Bengaluru,Mphasis
9,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru,IBM

# (Q3)

In this question you have to scrape data using the filters available on the webpage as shown below - 
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

The task will be done as shown in the below steps - 
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field
3. Then click the search button
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get
6. Finally create a dataframe of the scraped data

In [131]:
driver=webdriver.Chrome("chromedriver.exe")

# pulling the website
driver.get("https://www.naukri.com/")

In [132]:
# entering the designation
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [133]:
# entering the location
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Delhi/NCR')

In [134]:
search = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[6]")
search.click()

In [135]:
# location is delhi/ncr
job_location = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/section[1]/div[2]/div[13]/div[2]/div[2]/label/p/span[1]")
job_location.click()

In [136]:
# salary is 3-6 lakhs 
salary = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]")
salary.click()

In [137]:
job_title = []
job_location =[]
company_name = []
experience_required =[]

In [138]:
# scraping the title
title_tags= driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
job_title

['Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data scientist- Python']

In [139]:
# scraping the Location 
location_tags= driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
job_location

['Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram, Dehradun, Hyderabad/Secunderabad',
 'Gurgaon/Gurugram']

In [140]:
# scraping the company name 
company_tags= driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
company_name

['IHS Markit',
 'Optum',
 'torcai digital media',
 'TeamPlus Staffing Solution Pvt Ltd']

In [141]:
# scraping the experience
experience_tags= driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)
experience_required

['3-6 Yrs', '2-7 Yrs', '2-7 Yrs', '3-6 Yrs']

In [142]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

4 4 4 4

In [262]:
df = pd.DataFrame({'job_title':job_title,'job_location':job_location,'company_name':company_name,'experience_required':experience_required})
df

,job_title,job_location,company_name,experience_required
0,Data Scientist,Gurgaon/Gurugram,IHS Markit,3-6 Yrs
1,Data Scientist,Gurgaon/Gurugram,Optum,2-7 Yrs
2,Data Scientist,"Gurgaon/Gurugram, Dehradun, Hyderabad/Secunder...",torcai digital media,2-7 Yrs
3,Data scientist- Python,Gurgaon/Gurugram,TeamPlus Staffing Solution Pvt Ltd,3-6 Yrs

# (Q4)

Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes -

1. Brand
2. Product Description
3. Price

To scrape the data you have to go through following steps -

1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
required data as usual
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses

In [155]:
driver=webdriver.Chrome("chromedriver.exe")

# pulling the website
driver.get("https://www.flipkart.com/")

In [156]:
popup= driver.find_element(By.XPATH,"/html/body/div[2]/div/div/button")

popup.click()

In [157]:
des= driver.find_element(By.XPATH, "/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")

des.send_keys("Sunglasses")

In [158]:
search= driver.find_element(By.CLASS_NAME, "_34RNph")
search.click()

In [165]:
brand_name=[]
product_description=[]
price=[]
discount=[]

In [166]:
# brand
start=1
end=4
for page in range(start, end):
    brand_tags= driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tags:
        x= i.text
        brand_name.append(x)
    
    next_button= driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]') 
    next_button.click()
    time.sleep(8)
Top100_brand_name= brand_name[0:100]

In [168]:
# to the first page
prev_button= driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]')
prev_button.click()

In [169]:
# product
start=1
end=4
for page in range(start, end):
    product_tags= driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in product_tags:
        x= i.text
        product_description.append(x)
    
    next_button= driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)
Top100_product_description= product_description[0:100]

In [170]:
# to the first page
prev_button= driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]')
prev_button.click()

In [171]:
# price
start=0
end=3
for page in range(start, end):
    price_tags= driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tags:
        x= i.text
        price.append(x)

    next_button= driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)
Top100_price= price[0:100]

In [172]:
# to the first page
prev_button= driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]')
prev_button.click()

In [173]:
# discount
start=1
end=4
for page in range(start, end):
    price_tags= driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in price_tags:
        x= i.text
        discount.append(x)
    
    next_button= driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]') 
    next_button.click()
    time.sleep(5)
Top100_discount = discount[0:100] #Top 100 data

In [174]:
# to the first page
prev_button= driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]')
prev_button.click()

In [175]:
print (len(Top100_brand_name), len(Top100_product_description), len(Top100_price), len(Top100_discount))

100 100 100 100

In [255]:
data_list= list(zip(Top100_brand_name, Top100_product_description, Top100_price, Top100_discount))

df= pd.DataFrame(data_list, 
    columns =['brand_name', 'product_description', 'price', 'discount'],
    index=pd.RangeIndex(start=1, stop=101, name='serial. number.'))

df = df.style.set_properties(**{'text-align': 'right'})

#Print the required data

print ("first 100 sunglasses on flipkart.com - \n")
df

first 100 sunglasses on flipkart.com -

# (Q6)

Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field.

You have to scrape 4 attributes of each sneaker - 
1. Brand
2. Product Description
3. Price

In [214]:
driver= webdriver.Chrome(r"chromedriver.exe")

# pulling the website
driver.get("https://www.flipkart.com/")

In [215]:
popup= driver.find_element(By.XPATH, "/html/body/div[2]/div/div/button")
popup.click()

In [216]:
des= driver.find_element(By.XPATH, "/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")

des.send_keys("sneakers")

In [217]:
search= driver.find_element(By.CLASS_NAME, "L0Z3Pu")
search.click()

In [218]:
brand_name=[]
product_description=[]
price=[]
discount=[]

In [219]:
# brand
start=0
end=3
for page in range(start, end):
    brand_tags= driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tags:
        x= i.text
        brand_name.append(x)
    
    next_button= driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(5)
Top100_brand_name= brand_name[0:100]

In [220]:
len(brand_name)

120

In [221]:
prev_button= driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]')
prev_button.click()

In [222]:
# product description
start=0
end=3
for page in range(start, end):
    product_tags= driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in product_tags:
        x= i.text
        product_description.append(x)
    
    next_button= driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)
Top100_product_description= product_description[0:100]

In [223]:
prev_button= driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]')
prev_button.click()

In [224]:
# price
start=0
end=3
for page in range(start, end):
    price_tags= driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tags:
        x= i.text
        price.append(x)
        
    next_button= driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)
Top100_price= price[0:100]

In [225]:
prev_button= driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]')
prev_button.click()

In [226]:
# discount 
start=0
end=3
for page in range(start, end):
    price_tags= driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in price_tags:
        x= i.text
        discount.append(x) 
     
    next_button= driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]') 
    next_button.click()
    time.sleep(3)
Top100_discount = discount[0:100]

In [227]:
prev_button= driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]')
prev_button.click()

In [254]:
list_data= list(zip(Top100_brand_name, Top100_product_description, Top100_price, Top100_discount))

df= pd.DataFrame( list_data,
        index=pd.RangeIndex(start=1, stop=101, name='serial. number.'),
        columns =['brand_name','product_description', 'price', 'discount'])

data = df.style.set_properties(**{'text-align': 'right'})

#Print the required data

print ("first 100 sneakers on Flipkart is - \n")
df

first 100 sneakers on Flipkart is -

,brand_name,product_description,price,discount
serial. number.,,,,
1,Nike,Men Air Max Sneakers,Rs. 8295,83% off
2,Puma,,Rs. 8449Rs. 12999(35% OFF),59% off
3,Tommy Hilfiger,Men Solid Sneakers,Rs. 6639Rs. 8299(20% OFF),76% off
4,Nike,Men REACT MILER 3 Running Shoe,Rs. 7871Rs. 10495(25% OFF),82% off
5,Skechers,Men ENIGMA Running Shoes,Rs. 9499,71% off
...,...,...,...,...
96,Columbia,PEAKFREAK OUTDRY Trekking Shoe,Rs. 9999,80% off
97,Puma,Women Velocity Nitro 2 Running,Rs. 7699Rs. 10999(30% OFF),65% off
98,Skechers,Men Sports Shoes,Rs. 8499,52% off
99,Calvin Klein,Men Sneakers,Rs. 7679Rs. 9599(20% OFF),76% off
100,Calvin Klein,Men Leather Sneakers,Rs. 6879Rs. 8599(20% OFF),68% off

# (Q7)

Go to the link - https://www.myntra.com/shoes
        
Set second Price filter and Color filter to “Black”

And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe

In [229]:
driver= webdriver.Chrome(r"chromedriver.exe")

driver.get(" https://www.myntra.com/shoes")

In [230]:
price_filter = driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label')
price_filter.click()

In [231]:
color_filter = driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label')
color_filter.click()

In [232]:
brand_name=[]
product_description=[]
price=[]

In [233]:
# brand
start=0
end=3
for page in range(start, end):
    brand_tags= driver.find_elements(By.XPATH,'//h3[@class="product-brand"]')
    for i in brand_tags:
        x= i.text
        brand_name.append(x)
        
    next_button= driver.find_element(By.XPATH,'//li[@class="pagination-next"]')
    next_button.click()
    time.sleep(3)
Top100_brand_name= brand_name[0:100]

In [234]:
prev_button= driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[3]/a')
prev_button.click()

In [235]:
# product description 
start=0
end=3
for page in range(start, end):
    product_tags= driver.find_elements(By.XPATH,'//h4[@class="product-product"]')
    for i in product_tags:
        x= i.text
        product_description.append(x)
        
    next_button= driver.find_element(By.XPATH,'//li[@class="pagination-next"]')
    next_button.click()
    time.sleep(3)
Top100_product_description= product_description[0:100]

In [236]:
prev_button= driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[3]/a')
prev_button.click()

In [237]:
# price 
start=0
end=3
for page in range(start, end):
    price_tags= driver.find_elements(By.XPATH,'//div[@class="product-price"]')
    for i in price_tags:
        x= i.text
        price.append(x)
    
    next_button= driver.find_element(By.XPATH,'//li[@class="pagination-next"]') 
    next_button.click()
    time.sleep(3)
Top100_price= price[0:100]

In [238]:
print(len(Top100_brand_name), len(Top100_product_description), len(Top100_price))

100 100 100

In [253]:
list_data= list(zip(Top100_brand_name, Top100_product_description, Top100_price))

df= pd.DataFrame( list_data,
        index=pd.RangeIndex(start=1, stop=101, name='serial. number.'),
        columns =['brand_name','product_description', 'price'])

df = df.style.set_properties(**{'text-align': 'right'})

print ("first 100 sneakers on Flipkart is:\n")
df

first 100 sneakers on Flipkart is:

# (Q8)

Go to webpage https://www.amazon.in/
        
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7”

After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price

In [240]:
driver= webdriver.Chrome(r"chromedriver.exe")

driver.get("https://www.amazon.in/")

In [241]:
des= driver.find_element(By.XPATH, "/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
des.send_keys("Laptop")

In [242]:
search= driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()

In [243]:
cpu_filter_i7 = driver.find_element(By.XPATH,'//li[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/span')
cpu_filter_i7.click()

In [244]:
title=[]
ratings=[]
price=[]

In [245]:
title_tags = driver.find_elements(By.XPATH,"//span[@class='a-size-medium a-color-base a-text-normal']")
for i in title_tags[0:10]:
    x= i.text
    title.append(x)
title

['Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN',
 'Samsung Galaxy Book2 360 Intel 12th Gen i7 EvoTM 33.78cm (13.3") AMOLED 2 in 1 Touch Screen Laptop (16 GB/512 GB SSD/Windows 11/MS Office/Backlit KB/Fingerprint Sensor/Graphite/1.16Kg), NP730QED-KA1IN',
 'ASUS Zenbook 13 OLED, 13.3-inch (33.78 cms) FHD OLED, Intel EVO Core i7-1165G7 11th Gen, Thin and Light Laptop (16GB/1TB SSD/Iris Xe Graphics/Windows 11/Office 2021/Mist/1.14 kg), UX325EA-KG701WS',
 'ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Iris Plus Graphics/Windows 11/Office 2021/Silver/1.8 kg), X515JA-EJ701WS',
 'Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN',
 'Lenovo ThinkBook 15 Intel 11th Gen Core i7 15.6"(39.62 cm)FHD Thin and Light Laptop (16GB/512GB SSD/Windows 11 Home/MS Office H&S 2021/Iris® Xe Graphics/Backlit/Mineral Grey/1.7 Kg) 20VE00W4IH',
 'Hp Pavilion 15 12Th Gen Intel Core I7 16Gb Sdram/1Tb Ssd 15.6 Inches (39.6Cm) Fhd,IPS/Intel Iris Xe Graphics/B&O/Windows 11 Home/Alexa/Backlit Kb/Fpr/Mso 2021/1.75Kg, 15-Eg2039Tu, Natural Silver',
 'Lenovo Yoga 7i 11th Gen Intel Core i7-1165G7 14 inches FHD IPS 2-in-1 Touchscreen Business Laptop (16GB/512GB SSD/Windows 10/MS Office/Digital Pen/Fingerprint Reader/Slate Grey/1.43Kg), 82BH004HIN',
 'Acer Nitro 5 Core i7 11th Gen 15.6" (39.62cms) Full HD IPS Gaming Laptop (16 GB/512 GB SSD/Win 11/4 GB Graphics/NVIDIA GeForce RTX 3050 Ti/144 Hz, Black, 2.2 kg) AN515-57',
 'Fujitsu UH-X 11th Gen Intel Core i7 13.3" FHD IPS 400Nits 2-in1 Touch Convertible Laptop (16GB/1TB SSD/Windows 11/MS Office 2021/Iris Xe Graphics/2 Yr Warranty/Backlit Kb/Black/0.997 kg, 4ZR1F38027)']

In [246]:
rating_tags=driver.find_elements(By.XPATH,"//a[@class='a-popover-trigger a-declarative']")

for i in rating_tags[0:10]:
    if i.text is None:
        ratings.append("--")
    else:
        ratings.append(i.get_attribute("text"))

In [247]:
ratings

['4.4 out of 5 stars',
 '3.9 out of 5 stars',
 '5.0 out of 5 stars',
 '3.8 out of 5 stars',
 '4.4 out of 5 stars',
 '4.3 out of 5 stars',
 '3.6 out of 5 stars',
 '4.4 out of 5 stars',
 '4.2 out of 5 stars',
 '5.0 out of 5 stars']

In [248]:
price_tags=driver.find_elements(By.XPATH,"//span[@class='a-price-whole']")
for i in price_tags[0:10]:
    x= i.text
    price.append(x)
price

['80,000',
 '98,290',
 '74,990',
 '63,499',
 '80,000',
 '77,990',
 '91,090',
 '1,12,999',
 '89,990',
 '1,00,000']

In [251]:
list_data= list(zip(title, ratings, price))

df= pd.DataFrame( list_data,
        index=pd.RangeIndex(start=1, stop=11, name='serial. number.'),
        columns =['name_of_the_laptop', 'ratings', 'price'])

df = df.style.set_properties(**{'text-align': 'right'})

print ("first 10 laptop's on Amazon - \n\n")
df

first 10 laptop's on Amazon -