In [ ]:
# question 1 - write a python program to display all the header tags from wikipedia.org

In [17]:
from urllib.request import urlopen
from bs4 import BeautifulSoup

html_content = urlopen("https://en.wikipedia.org/wiki/Main_Page")
soup = BeautifulSoup(html_content, "html.parser")

header_tag = soup.find_all(['h1', 'h2','h3','h4','h5','h6'])

print(header_tag)

[<h1 class="firstHeading mw-first-heading" id="firstHeading" style="display: none"><span class="mw-page-title-main">Main Page</span></h1>, <h1><span class="mw-headline" id="Welcome_to_Wikipedia">Welcome to <a href="/wiki/Wikipedia" title="Wikipedia">Wikipedia</a></span></h1>, <h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>, <h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>, <h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>, <h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>, <h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>, <h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>, <h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>, <h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>, <h2>Navigation menu</h2>, <h3 class="vector-menu-heading" id="p-personal-label">
<span class="vector-menu-heading-label">Personal tools</span>
</h3>, <h3 class="vector-menu-heading" id="p-namespaces-label">
<span class="vector-menu-heading-label">Namespaces</span>
</h3>, <h3 class="vector-menu-heading" id="p-views-label">
<span class="vector-menu-heading-label">Views</span>
</h3>, <h3>
<label for="searchInput">Search</label>
</h3>, <h3 class="vector-menu-heading" id="p-navigation-label">
<span class="vector-menu-heading-label">Navigation</span>
</h3>, <h3 class="vector-menu-heading" id="p-interaction-label">
<span class="vector-menu-heading-label">Contribute</span>
</h3>, <h3 class="vector-menu-heading" id="p-tb-label">
<span class="vector-menu-heading-label">Tools</span>
</h3>, <h3 class="vector-menu-heading" id="p-coll-print_export-label">
<span class="vector-menu-heading-label">Print/export</span>
</h3>, <h3 class="vector-menu-heading" id="p-wikibase-otherprojects-label">
<span class="vector-menu-heading-label">In other projects</span>
</h3>, <h3 class="vector-menu-heading" id="p-lang-label">
<span class="vector-menu-heading-label">Languages</span>
</h3>]

In [18]:
# question 2 - write a python program to display imdb’s top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame

In [11]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

def html_content(url):
    r = requests.get(url)
    soup = BeautifulSoup(r.content)

    movie_name = soup.find_all("td", class_ = "titleColumn")
    title = []
    for i in movie_name:
        i = i.text.replace('\n','')
        i = i.rstrip(i[-6:])
        head,sep,tail = i.partition('.')
        title.append(tail.strip())
    title = title[:100]

    year_of_release = soup.find_all("span", class_ = "secondaryInfo")
    year = []
    for i in year_of_release:
        year.append(i.text.replace('(','').replace(')', ''))
    year = year[:100]
    
    rating_of_the_movie = soup.find_all("td", class_ = "ratingColumn imdbRating")
    rating = []
    for i in rating_of_the_movie:
        rating.append(i.text.replace('\n',''))
    rating = rating[:100]

    data = pd.DataFrame({"Name of the Movie" : title, "Rating of the Movie" : rating, "Year of Realease" : year})
    return(data)

In [12]:
html_content('https://www.imdb.com/chart/top/')

                    Name of the Movie Rating of the Movie Year of Realease
0            The Shawshank Redemption                 9.2             1994
1                       The Godfather                 9.2             1972
2                     The Dark Knight                 9.0             2008
3               The Godfather Part II                 9.0             1974
4                        12 Angry Men                 8.9             1957
..                                ...                 ...              ...
95                       Citizen Kane                 8.3             1941
96  M - Eine Stadt sucht einen Mörder                 8.3             1931
97                 North by Northwest                 8.3             1959
98                       Idi i smotri                 8.2             1985
99                            Vertigo                 8.2             1958

[100 rows x 3 columns]

In [ ]:
# question 3 - write a python program to display imdb’s top rated 100 indian movies’ data (i.e. name, rating, year of release) and make data frame

In [9]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

def html_content(url):
    r = requests.get(url)
    soup = BeautifulSoup(r.content)

    movie_name = soup.find_all("td", class_ = "titleColumn")
    title = []
    for i in movie_name:
        i = i.text.replace('\n','')
        i = i.rstrip(i[-6:])
        head,sep,tail = i.partition('.')
        title.append(tail.strip())
    title = title[:100]

    year_of_release = soup.find_all("span", class_ = "secondaryInfo")
    year = []
    for i in year_of_release:
        year.append(i.text.replace('(','').replace(')', ''))
    year = year[:100]
    
    rating_of_the_movie = soup.find_all("td", class_ = "ratingColumn imdbRating")
    rating = []
    for i in rating_of_the_movie:
        rating.append(i.text.replace('\n',''))
    rating = rating[:100]

    data = pd.DataFrame({"Name of the Movie" : title, "Rating of the Movie" : rating, "Year of Release" : year})
    return(data)

In [10]:
html_content('https://www.imdb.com/india/top-rated-indian-movies/')

              Name of the Movie Rating of the Movie Year of Release
0    Rocketry: The Nambi Effect                 8.5            2022
1                    Anbe Sivam                 8.4            2003
2                      Jai Bhim                 8.4            2021
3                       Nayakan                 8.4            1987
4                       Golmaal                 8.4            1979
..                          ...                 ...             ...
95                  Ustad Hotel                 8.0            2012
96   The Legend of Bhagat Singh                 8.0            2002
97                    Virumandi                 8.0            2004
98  Baahubali 2: The Conclusion                 8.0            2017
99                       Angoor                 8.0            1982

[100 rows x 3 columns]

In [ ]:
# question 4 - write s python program to display list of respected former presidents of india (i.e. name , term of office) from https://presidentofindia.nic.in/former-presidents.htm

In [15]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

def html_content(url):
    r = requests.get(url)
    soup = BeautifulSoup(r.content)

    names_of_the_president = soup.find_all("div", class_ = "presidentListing")
    Name = []
    for i in names_of_the_president:
        i = i.text
        head,sep,tail = i.partition('(')
        Name.append(head.replace('\n',''))

    term_of_office = soup.find_all("div", class_ = "presidentListing")
    Term = []
    for i in term_of_office:
        i = i.text
        head,sep,tail = i.partition('Term of Office: ')
        i = tail
        head,sep,tail = i.partition('\n')
        Term.append(head)
        
    data = pd.DataFrame({"Name of the Indian President" : Name, "Term of Office" : Term})
    return(data)

In [16]:
html_content("https://presidentofindia.nic.in/former-presidents.htm")

,Name of the Indian President,Term of Office
0,Shri Ram Nath Kovind,"25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee,"25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil,"25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam,"25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan,"25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma,"25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman,"25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh,"25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy,"25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed,"24 August, 1974 to 11 February, 1977"
10,Shri Varahagiri Venkata Giri,"3 May, 1969 to 20 July, 1969 and 24 August, 19..."
11,Dr. Zakir Husain,"13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan,"13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad,"26 January, 1950 to 13 May, 1962"

In [ ]:
# question 5 - write a python program to scrape cricket rankings from icc-cricket.com
# question 5a - top 10 odi teams in men’s cricket along with the records for matches, points and rating

In [47]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

def html_contant(url):
    r = requests.get(url)
    soup = BeautifulSoup(r.content)
    
    team = soup.find_all('span', class_ = 'u-hide-phablet')
    Team = []
    for i in team:
        i = i.get_text()
        Team.append(i)
    Team = Team[:10]

    Top_team_r = soup.find('td', class_ = 'rankings-block__banner--rating u-text-right').text.replace('\n','').replace(' ', '')
    rating = soup.find_all('td', class_ = 'table-body__cell u-text-right rating')
    Rating = [Top_team_r]
    
    for i in rating:
        i = i.get_text()
        Rating.append(i)
    Rating = Rating[:10]

    match_point = soup.find_all('td', class_ = 'table-body__cell u-center-text')
    Match_Point = []
    for i in match_point:
        i = i.get_text()
        Match_Point.append(i)

    Top_team_m = soup.find('td', class_ = 'rankings-block__banner--matches').text
    Top_team_p = soup.find('td', class_ = 'rankings-block__banner--points').text
    Match = [Top_team_m] 
    Point = [Top_team_p]
    i=0  
    j=1
    
    while i<17:
        Match.append(Match_Point[i])
        Point.append(Match_Point[j])
        i = i+2 
        j= j+2
        
    top_odi = pd.DataFrame({"Team Name" : Team, "Rating" : Rating, "Matches" : Match, "Point" : Point})
    return(top_odi)

In [48]:
top("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")

      Team Name Rating Matches  Point
0       England    119      27  3,226
1   New Zealand    114      22  2,508
2         India    111      31  3,447
3      Pakistan    107      22  2,354
4     Australia    106      29  3,071
5  South Africa    101      21  2,111
6    Bangladesh     92      30  2,753
7     Sri Lanka     92      29  2,658
8   West Indies     71      41  2,902
9   Afghanistan     69      18  1,238

In [ ]:
# question 5b - top 10 odi batsmen along with the records of their team and rating

In [21]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

def html_content(url):
    r = requests.get(url)
    soup = BeautifulSoup(r.content)

    name_of_the_batsman = soup.find_all('td', class_ = 'table-body__cell name')
    Top_player = soup.find('div', class_ = 'rankings-block__banner--name').text
    Name = [Top_player]
    for i in name_of_the_batsman:
        Name.append(i.text.replace('\n','')) 
    Name = Name[:10]

    rating_of_the_batsman = soup.find_all('td', class_ = 'table-body__cell u-text-right rating')
    Top_player_rating = soup.find('div', class_ = 'rankings-block__banner--rating').text
    Rating = [Top_player_rating]
    for i in rating_of_the_batsman:
        i = i.text
        Rating.append(i)
    Rating = Rating[:10]

    team_name = soup.find_all('span', class_ = 'table-body__logo-text')
    Top_player_team = soup.find('div', class_ = 'rankings-block__banner--nationality').text.replace('\n','').split(' ')[0]
    Team = [Top_player_team]
    for i in team_name:
        i = i.text.replace('\n','')
        Team.append(i)
    Team = Team[:10]

    data = pd.DataFrame({'Name of the Batsman':Name, 'Name of the Team':Team, 'Rating of the Player':Rating})
    return(data)

In [22]:
html_content("https://www.icc-cricket.com/rankings/mens/player-rankings/odi")

     Name of the Batsman Name of the Team Rating of the Player
0             Babar Azam              PAK                  890
1  Rassie van der Dussen               SA                  789
2        Quinton de Kock               SA                  784
3            Imam-ul-Haq              PAK                  779
4            Virat Kohli              IND                  744
5           Rohit Sharma              IND                  740
6         Jonny Bairstow              ENG                  732
7           David Warner              AUS                  725
8            Ross Taylor               NZ                  701
9            Steve Smith              AUS                  697

In [ ]:
# question 5c - top 10 odi bowlers along with the records of their team and rating

In [23]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

def html_content(url):
    r = requests.get(url)
    soup = BeautifulSoup(r.content)

    name_of_the_batsman = soup.find_all('td', class_ = 'table-body__cell rankings-table__name name')
    Top_player = soup.find('div', class_ = 'rankings-block__banner--name-large').text
    Name = [Top_player]
    for i in name_of_the_batsman:
        Name.append(i.text.replace('\n','')) 
    Name = Name[:10]

    rating_of_the_batsman = soup.find_all('td', class_ = 'table-body__cell rating')
    Top_player_rating = soup.find('div', class_ = 'rankings-block__banner--rating').text
    Rating = [Top_player_rating]
    for i in rating_of_the_batsman:
        i = i.text
        Rating.append(i)
    Rating = Rating[:10]

    team_name = soup.find_all('span', class_ = 'table-body__logo-text')
    Top_player_team = soup.find('div', class_ = 'rankings-block__banner--nationality').text.replace('\n','')
    Team = [Top_player_team]
    for i in team_name:
        i = i.text.replace('\n','')
        Team.append(i)
    Team = Team[:10]

    data = pd.DataFrame({'Name of the Batsman':Name, 'Name of the Team':Team, 'Rating of the Player':Rating})
    return(data)

In [24]:
html_content("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling")

  Name of the Batsman        Name of the Team Rating of the Player
0         Trent Boult  NZ                                      775
1      Josh Hazlewood                     AUS                  718
2    Mujeeb Ur Rahman                     AFG                  676
3      Jasprit Bumrah                     IND                  662
4      Shaheen Afridi                     PAK                  661
5       Mohammad Nabi                     AFG                  657
6        Mehedi Hasan                     BAN                  655
7          Matt Henry                      NZ                  654
8      Mitchell Starc                     AUS                  653
9         Rashid Khan                     AFG                  651

In [ ]:
# question 6 - write a python program to scrape cricket rankings from icc-cricket.com
# question 6a - top 10 odi teams in women’s cricket along with the records for matches, points and rating

In [27]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

def html_content(url):
    r = requests.get(url)
    soup = BeautifulSoup(r.content)
    
    team_name = soup.find_all('span', class_ = 'u-hide-phablet')
    Team = []
    for i in team_name:
        i = i.get_text()
        Team.append(i)
    Team = Team[:10]


    Top_team_r = soup.find('td', class_ = 'rankings-block__banner--rating u-text-right').text.replace('\n','').replace(' ', '')
    rating = soup.find_all('td', class_ = 'table-body__cell u-text-right rating')
    
    Rating = [Top_team_r]
    for i in rating:
        i = i.get_text()
        Rating.append(i)
    Rating = Rating[:10]

    match_point = soup.find_all('td', class_ = 'table-body__cell u-center-text')
    
    Match_Point = []
    for i in match_point:
        i = i.get_text()
        Match_Point.append(i)

    Top_team_a = soup.find('td', class_ = 'rankings-block__banner--matches').text
    Top_team_b = soup.find('td', class_ = 'rankings-block__banner--points').text
    
    Match = [Top_team_a] 
    Point = [Top_team_b]
    i=0  
    j=1
    while i<17:
        Match.append(Match_Point[i])
        Point.append(Match_Point[j])
        i = i+2 
        j= j+2
        
    data = pd.DataFrame({"Name of the Team" : Team, "Rating of the Team" : Rating, "Matches Played" : Match, "Points Scored" : Point})
    return(data)

In [28]:
html_content("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")

  Name of the Team Rating of the Team Matches Played Points Scored
0        Australia                167             29         4,837
1          England                121             34         4,097
2     South Africa                119             35         4,157
3            India                103             33         3,392
4      New Zealand                 99             32         3,161
5      West Indies                 91             31         2,815
6       Bangladesh                 78             12           930
7         Pakistan                 65             30         1,962
8          Ireland                 47             11           516
9        Sri Lanka                 45             11           495

In [ ]:
# question 6b - top 10 women’s odi batting players along with the records of their team and rating

In [29]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

def html_content(url):
    r = requests.get(url)
    soup = BeautifulSoup(r.content)

    name_of_the_batswoman = soup.find_all('td', class_ = 'table-body__cell rankings-table__name name')
    Top_player = soup.find('div', class_ = 'rankings-block__banner--name-large').text
    Name = [Top_player]
    for i in name_of_the_batswoman:
        Name.append(i.text.replace('\n','')) 
    Name = Name[:10]

    rating_of_the_player = soup.find_all('td', class_ = 'table-body__cell rating')
    Top_player_rating = soup.find('div', class_ = 'rankings-block__banner--rating').text
    Rating = [Top_player_rating]
    for i in rating_of_the_player:
        i = i.text
        Rating.append(i)
    Rating = Rating[:10]

    team_name = soup.find_all('span', class_ = 'table-body__logo-text')
    Top_player_team = soup.find('div', class_ = 'rankings-block__banner--nationality').text.replace('\n','')
    Team = [Top_player_team]
    for i in team_name:
        i = i.text.replace('\n','')
        Team.append(i)
    Team = Team[:10]

    data = pd.DataFrame({'Name of the Batswoman':Name, 'Name of the Team':Team, 'Rating of the Player':Rating})
    return(data)

In [30]:
html_content('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')

  Name of the Batswoman         Name of the Team Rating of the Player
0          Alyssa Healy  AUS                                      785
1           Beth Mooney                      AUS                  749
2        Natalie Sciver                      ENG                  740
3       Laura Wolvaardt                       SA                  732
4           Meg Lanning                      AUS                  710
5        Rachael Haynes                      AUS                  701
6       Smriti Mandhana                      IND                  698
7     Amy Satterthwaite                       NZ                  681
8      Harmanpreet Kaur                      IND                  662
9   Chamari Athapaththu                       SL                  655

In [ ]:
# question 6c - top 10 women’s odi all-rounder along with the records of their team and rating

In [31]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

def html_content(url):
    r = requests.get(url)
    soup = BeautifulSoup(r.content)

    name_of_the_batswoman = soup.find_all('td', class_ = 'table-body__cell rankings-table__name name')
    Top_player = soup.find('div', class_ = 'rankings-block__banner--name-large').text
    Name = [Top_player]
    for i in name_of_the_batswoman:
        Name.append(i.text.replace('\n','')) 
    Name = Name[:10]

    rating_of_the_player = soup.find_all('td', class_ = 'table-body__cell rating')
    Top_player_rating = soup.find('div', class_ = 'rankings-block__banner--rating').text
    Rating = [Top_player_rating]
    for i in rating_of_the_player:
        i = i.text
        Rating.append(i)
    Rating = Rating[:10]

    team_name = soup.find_all('span', class_ = 'table-body__logo-text')
    Top_player_team = soup.find('div', class_ = 'rankings-block__banner--nationality').text.replace('\n','')
    Team = [Top_player_team]
    for i in team_name:
        i = i.text.replace('\n','')
        Team.append(i)
    Team = Team[:10]

    data = pd.DataFrame({'Name of the Batswoman':Name, 'Name of the Team':Team, 'Rating of the Player':Rating})
    return(data)

In [32]:
html_content('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/bowling')

  Name of the Batswoman         Name of the Team Rating of the Player
0     Sophie Ecclestone  ENG                                      748
1         Jess Jonassen                      AUS                  725
2          Megan Schutt                      AUS                  722
3        Shabnim Ismail                       SA                  722
4        Jhulan Goswami                      IND                  689
5        Ayabonga Khaka                       SA                  634
6   Rajeshwari Gayakwad                      IND                  625
7       Hayley Matthews                       WI                  612
8        Marizanne Kapp                       SA                  598
9            Kate Cross                      ENG                  597

In [ ]:
# question 7 - write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world

In [37]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

def html_content(url):
    r = requests.get(url)
    soup = BeautifulSoup(r.content)
    
    title = soup.find_all('a', class_ ='LatestNews-headline')
    Title = []
    for i in title:
        Title.append(i.text) 

    time = soup.find_all('time', class_ ='LatestNews-timestamp')
    Time = []
    for i in time:
        Time.append(i.text) 

    link = soup.find_all('div', class_='LatestNews-headlineWrapper')
    Link = []
    for i in link:
        head, sep, tail = str(i).partition('" title=')
        head, sep, tail = head.partition('a class="LatestNews-headline" href="')
        Link.append(tail)

    data = pd.DataFrame({'Title of the News':Title,'Time of the News':Time,'Link of the News':Link})
    return(data)

In [38]:
html_content('https://www.cnbc.com/world/?region=world')

,Title of the News,Time of the News,Link of the News
0,Here's our plan for Monday after another painf...,9 Hours Ago,https://www.cnbc.com/2022/09/23/it-was-another...
1,What to watch in the markets in the week ahead,9 Hours Ago,https://www.cnbc.com/2022/09/23/stocks-could-c...
2,Pro Picks: Watch all of Friday's big stock cal...,9 Hours Ago,https://www.cnbc.com/2022/09/23/pro-picks-watc...
3,13 careers where over 50% of workers are happy...,9 Hours Ago,https://www.cnbc.com/2022/09/23/careers-where-...
4,New York AG wrongly said Yankees game on Apple...,9 Hours Ago,https://www.cnbc.com/2022/09/23/new-york-ag-wr...
5,Tech stocks just had the worst two-week stretc...,10 Hours Ago,https://www.cnbc.com/2022/09/23/tech-stocks-wo...
6,Takeaways from Jim Cramer's interviews with th...,10 Hours Ago,https://www.cnbc.com/2022/09/23/jim-cramer-sat...
7,Some homebuyers are facing mortgage 'payment s...,11 Hours Ago,https://www.cnbc.com/2022/09/23/some-homebuyer...
8,Ether is down almost 20% since the merge. Here...,11 Hours Ago,https://www.cnbc.com/2022/09/23/ether-is-down-...
9,Elon Musk has over 20 direct reports at Tesla ...,11 Hours Ago,https://www.cnbc.com/2022/09/23/elon-musk-dire...
10,Trump SPAC shares are now around $16 after hit...,11 Hours Ago,https://www.cnbc.com/2022/09/23/trump-merger-p...
11,Here's why U.S. fiscal policy is undermining t...,12 Hours Ago,https://www.cnbc.com/2022/09/23/us-fiscal-poli...
12,Why gold and crypto haven't proven to be 'infl...,12 Hours Ago,https://www.cnbc.com/2022/09/23/why-gold-and-c...
13,"Amid U.S. recession fears, these 4 steps can h...",12 Hours Ago,https://www.cnbc.com/2022/09/23/amid-us-recess...
14,Biden promises to codify Roe if two more Democ...,12 Hours Ago,https://www.cnbc.com/2022/09/23/biden-promises...
15,Government bond yields soar as markets weigh t...,12 Hours Ago,https://www.cnbc.com/2022/09/23/government-bon...
16,Inside the $250 million penthouse on 'Billiona...,12 Hours Ago,https://www.cnbc.com/2022/09/23/inside-the-250...
17,"Stocks making the biggest moves midday: FedEx,...",13 Hours Ago,https://www.cnbc.com/2022/09/23/stocks-making-...
18,How the IPO market went from 'boom to bust' in...,13 Hours Ago,https://www.cnbc.com/2022/09/23/stock-market-i...
19,3 takeaways from our daily meeting: Bonds vs. ...,13 Hours Ago,https://www.cnbc.com/2022/09/23/3-takeaways-fr...
20,Hedge funds ramp up bets as volatility brings ...,13 Hours Ago,https://www.cnbc.com/2022/09/23/hedge-funds-ra...
21,Celsius has a Hail Mary bankruptcy plan: Turn ...,13 Hours Ago,https://www.cnbc.com/2022/09/23/celsius-has-a-...
22,Lauren Taylor Wolfe says it's just too risky f...,13 Hours Ago,https://www.cnbc.com/2022/09/23/lauren-taylor-...
23,Top stock performers this week make recession-...,13 Hours Ago,https://www.cnbc.com/2022/09/23/the-top-stock-...
24,Legendary music producer Emilio Estefan urges ...,13 Hours Ago,https://www.cnbc.com/2022/09/23/emilio-estefan...
25,Debt-loaded cruise lines' shares fall as Fed h...,14 Hours Ago,https://www.cnbc.com/2022/09/23/cruise-line-st...
26,Inflation and higher rates are a 'dangerous mi...,14 Hours Ago,https://www.cnbc.com/2022/09/23/borrowing-cost...
27,Latinos are seeing the least amount of growth ...,14 Hours Ago,https://www.cnbc.com/2022/09/23/over-60percent...
28,Moderna asks FDA to authorize omicron Covid bo...,14 Hours Ago,https://www.cnbc.com/2022/09/23/moderna-asks-f...
29,We're making a small buy in Friday's terrible ...,14 Hours Ago,https://www.cnbc.com/2022/09/23/investing-club...

In [ ]:
# question 8 - write a python program to scrape the details of most downloaded articles from ai in last 90 days https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles

In [41]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

def html_content(url):
    r = requests.get(url)
    soup = BeautifulSoup(r.content)

    title = soup.find_all('h2', class_ ='sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR')
    Title = []
    for i in title:
        Title.append(i.text) 

    author = soup.find_all('span', class_ ='sc-1w3fpd7-0 pgLAT')
    Author = []
    for i in author:
        Author.append(i.text) 

    date = soup.find_all('span', class_ ='sc-1thf9ly-2 bKddwo')
    Date = []
    for i in date:
        Date.append(i.text) 

    link = soup.find_all('a', class_ ='sc-5smygv-0 nrDZj')
    Link = []
    for i in link:
        Link.append(i['href'])
        
    data = pd.DataFrame({'Name of the Article':Title,'Name of the Author':Author,'Date of Publication':Date,'Link of the Article':Link})
    return(data)

In [42]:
html_content('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')

,Name of the Article,Name of the Author,Date of Publication,Link of the Article
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

In [ ]:
# question 9 - write a python program to scrape mentioned details from dineout.co.in

In [43]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

def html_content(url):
    r = requests.get(url)
    soup = BeautifulSoup(r.content)
    
    Hotel_name = []
    Location = []
    for i in soup.find_all('div', class_ = 'restnt-info cursor'):
        Hotel_name.append(i.a.text)
        Location.append(i.div.text)

    Cuisine = []
    for i in soup.find_all('span', class_ = 'double-line-ellipsis'):
        head, sep, tail = i.text.partition('|')
        Cuisine.append(tail)

    link = []
    for i in soup.find_all('img', class_ = 'no-img'):
        link.append(i['data-src'])

    Rating = []
    for i in soup.find_all('div', class_ = 'restnt-rating rating-4'):
        Rating.append(i.text)

    data = pd.DataFrame({'Name of the Hotel':Hotel_name, 'Cuisine of the Hotel':Cuisine, 'Location of the Hotel':Location, 'Rating of the Hotel':Rating, 'Link of the Hotel':link})
    return(data)

In [44]:
html_content('https://www.dineout.co.in/delhi-restaurants/welcome-back')

,Name of the Hotel,Cuisine of the Hotel,Location of the Hotel,Rating of the Hotel,Link of the Hotel
0,Tamasha,"Continental, Asian, Italian, North Indian","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
1,Local,"North Indian, Asian, Continental","Scindia House,Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
2,Openhouse Cafe,"North Indian, Asian, Italian","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
3,Station Bar,"Italian, Chinese, North Indian, Fast Food","F-Block,Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
4,Ministry Of Beer,"North Indian, Continental, American, Asian","M-Block,Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
5,QBA,"North Indian, Continental, Italian","Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
6,The G.T. ROAD,North Indian,"M-Block,Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
7,The Junkyard Cafe,"North Indian, Continental, Chinese, Fast Food","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
8,Berco's,"Chinese, Thai","Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
9,Connaught Clubhouse Microbrewery,"North Indian, Continental, Asian, Chinese","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
10,Farzi Cafe,"Modern Indian, Continental, Finger Food","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
11,My Bar Headquarters,"North Indian, Chinese","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
12,Unplugged Courtyard,"North Indian, Italian, Chinese, Turkish, Cont...","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
13,Chido,"North Indian, Italian, Continental, Asian, Fi...","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
14,Ardor 2.1 Restaurant and Lounge,"North Indian, Chinese, Italian, Continental","Connaught Place, Central Delhi",3.8,https://im1.dineout.co.in/images/uploads/resta...
15,38 Barracks,"North Indian, Chinese, Continental","M-Block,Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
16,Sandoz,"North Indian, Chinese, Continental","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
17,Out Of The Box Courtyard,"North Indian, Mediterranean, Chinese, Italian","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
18,The Luggage Room By Sandoz,"Chinese, Italian, North Indian, Continental","M-Block,Connaught Place, Central Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
19,Chili's American Grill and Bar,"Mexican, American, Tex Mex","M-Block,Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
20,Ghoomar Traditional Thali Restaurant,"North Indian, Rajasthani","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...

In [ ]:
# question 10 - write a python program to scrape the details of top publications from google scholar from https://scholar.google.com/citations?view_op=top_venues&hl=en

In [45]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

def html_content(url):
    r = requests.get(url)
    soup = BeautifulSoup(r.content)

    rank = soup.find_all('td', class_ ='gsc_mvt_p')
    Rank = []
    for i in rank:
        Rank.append(i.text) 

    publication = soup.find_all('td', class_ ='gsc_mvt_t')
    Publication = []
    for i in publication:
        Publication.append(i.text) 

    h5_index = soup.find_all('a', class_ ='gs_ibl gsc_mp_anchor')
    H5_index = []
    for i in h5_index:
        H5_index.append(i.text) 

    h5_median = soup.find_all('span', class_ ='gs_ibl gsc_mp_anchor')
    H5_median = []
    for i in h5_median:
        H5_median.append(i.text)
                                                        
    data = pd.DataFrame({'Rank':Rank,'Publication':Publication,'h5_index':H5_index,'h5_median':H5_median})
    return(data)

In [46]:
html_content('https://scholar.google.com/citations?view_op=top_venues&hl=en')

    Rank                                        Publication h5_index h5_median
0     1.                                             Nature      444       667
1     2.                The New England Journal of Medicine      432       780
2     3.                                            Science      401       614
3     4.  IEEE/CVF Conference on Computer Vision and Pat...      389       627
4     5.                                         The Lancet      354       635
..   ...                                                ...      ...       ...
95   96.                       Journal of Business Research      145       233
96   97.                                   Molecular Cancer      145       209
97   98.                                            Sensors      145       201
98   99.                              Nature Climate Change      144       228
99  100.                    IEEE Internet of Things Journal      144       212

[100 rows x 4 columns]